.App {
  background-color:rgba(85, 166, 156, 1);
  padding-left:10%;
  padding-right:10%;
  padding-top:2%;
}
html{
 margin: auto;

 background: rgba(85, 166, 156, 1);
}



.header {
  text-align: center;
  background: rgba(85, 166, 156, 1);
  color: white;
  font-family: "Roboto";
}