.App {
  background-color:rgba(85, 166, 156, 1);
  padding-top:1%;
}

html,body{
 background: rgba(85, 166, 156, 1);
 font-family:  'Roboto' !important;
}


.header {
  text-align: center;
  font-family: 'Roboto';
  font-size: 150%;
  font-weight: bold;

}

