.App {
  display: grid;
  grid-gap: 20px;
  background-color:rgba(85, 166, 156, 1);
  display: block;
}
html, body {
 height: 1024px;
 width: 1024px;
 margin: 0;
 padding: 0;
 position:center;
 margin:auto;
}

div {
  color: #FFF;
  background-position: center !important;
  font-weight: bold;
  padding: 20px;
  margin: auto;
  
  
}

